

<%=  render 'form', cat: @cat, action: :new %>

<!-- <form action="<#%= cats_url %>" method="post">
  <label>
    Name:
    <input type="text" name="cat[name]" value="">
  </label>
  <br>
  <label>
    Sex:
    M <input type="radio" name="cat[sex]" value="M">
    F <input type="radio" name="cat[sex]" value="F">
  </label>
  <br>
  <label>
    Color:
    <select name="cat[color]">
      <option disabled selected>--select from below--</option>
      <option value="black">black</option>
      <option value="brown">brown</option>
      <option value="white">white</option>
      <option value="calico">calico</option>
      <option value="gray">gray</option>
      <option value="stripes">stripes</option>
    </select>
  </label>
  <br>
  <label>
    Birthday:
    <input type="date" name="cat[birth_date]" value="">
  </label>
  <br>
  <label>
    Description:
    <textarea name="cat[description]" rows="8" cols="80"></textarea>
  </label>
  <input type="submit" value="Submit NOW!">
</form>
<br>
<br>
<a href="<#%= cats_url %>">Take me back to the homepage</a> -->

